extends layout

block subContent
    #container.mongoDBInfo
        h1#dbHeader Database Information
        #container.mongoUserInfo
            table#mongoUserTable.table.table-striped
                thead
                    tr#colHeading
                        th#delColHeading Delete
                        th#userIDHeading User #
                        th#mongoIDHeading Mongo ID
                        th User Name
                        th Edit
                tbody
                    each user, i in currentUsers
                        tr(id="#{i}")
                            td
                                i.icon-remove.icon-white.delUser
                            td.userIDField  #{i}
                            td.mongoIDField #{user._id}
                            td.userNameField  #{user.username}
                            td
                                button#editUsrButton.btn.btn-primary(href="#editUsrModal",role="button",data-toggle="modal") Edit

    #container#crud
        a.btn.crudBtn(href="#addUsrModal",role="button",data-toggle="modal") Add User

    #contain#addUsrModal.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        #container.modal-header
            button.close(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
            h3#myModalLabel Add User
        #container.modal-body
            form#modal-form(action = "/mongo",method = "post")
                p User Name
                input#addUsrModalInput(name="username");
        #container.modal-footer
            button.btn(data-dismiss="modal",aria-hidden="true") Close
            button#addUsrSave.btn.btn-primary Save Changes

    #contain#editUsrModal.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
            #container.modal-header
                button.close(type="button",class="close",data-dismiss="modal",aria-hidden="true") x
                h3#myModalLabel Edit User
            #container.modal-body
                p User Name
                input#editUserInput
            #container.modal-footer
                button.btn(data-dismiss="modal",aria-hidden="true") Close
                button#editUsrSave.btn.btn-primary Save Changes







