#dbHeader {
    padding-left: 20px;
}

.mongoUserInfo {
    padding-left: 20px;
}

#crud {
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
}

#delCol {
    width: 5px;
}

#colHeading {
    font-size: 16pt;
}